body {
  font-family: Arial, sans-serif;
  background: rgba(167, 167, 167, 0.859);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(239, 239, 239);
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px black;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

select, input, button {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
}

button {
  font-weight: bold;
  background: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #244e7b;
}

.result {
  margin-top: 15px;
  font-weight: bold;
}
